<!DOCTYPE html>
<html>
    <body>
        <form action="/write_2" method="POST">
            제목 : <input type="text" placeholder="TITLE" name="title" required><br>
            내용 : <textarea name="content" cols="30" rows="10" required></textarea><br>
            <input type="submit" value="저장" class="btn btn-primary">
        </form>
    </body>
</html>