<!DOCTYPE html>
<html>
    <body>
        <link rel="stylesheet" href="style.css">
        <form action="/second" method="POST">
            <input type="text" placeholder="ID" name="id">
            <input type="password" placeholder="Password" name="password">
            <input type="submit">
        </form>
    </body>    
</html>