<!DOCTYPE html>
    <html>
        <head>
            <style>
                div { 
                    background-color: yellow;
                    padding : 10px;
                    margin : 10px;
                    border-style:solid;
                    border-width:10px;
                }
                .red{border-color:red;}
                .blue{border-color:blue;}
                .mix{border-color:red blue green black;}
            </style>
        </head>
        <body>
            <div>default</div>
            <div class="red">red</div>
            <div class="blue">blue</div>
            <div class="mix">mix</div>
        </body>
	</html>